<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Latest compiled and minified CSS -->
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="../css/main.css">

    <!-- Font Awesome -->
    <script src="//use.fontawesome.com/811ca3dd9f.js"></script>

    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Misc Scripts -->
    <script src="../js/scripts.js"></script>

    <!-- Fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- OpenGraph -->
    <title>Settings</title>

    <link rel="icon" type="image/png" href="/img/blargbotmini.png">

    <meta name="author" content="stupid cat">

    <meta content="Documentation for the settings system." property="og:description">

    <meta content="settings documentation" property="og:title">
    <meta content="blargbot" property="og:site_name">
    <meta content='http://blargbot.xyz/img/blargbot.png' property='og:image'>
    <meta content='https://blargbot.xyz/img/blargbot.png' property='og:image:secure_url'>
    <meta content='image/png' property='og:image:type'>
    <meta content='512' property='og:image:width'>
    <meta content='512' property='og:image:height'>

</head>

<body class="blue-grey">

    {{> sidebar}}

    <a class="btn-floating btn-primary button-collapse btn-large waves-effects waves-light" data-activates="slide-out">
        <i class="large material-icons">menu</i></a>

    <nav class='blue-grey darken-1' id='trail'>
        <div class='nav-wrapper'>
            <div class='col s12'>
                <a href='/commands' class='breadcrumb'>Commands</a>
                <a href='#' class='breadcrumb'>Settings</a>
            </div>
        </div>
    </nav>

    <header class="page-header">

        <h1 class="centre">
            Settings
        </h1>
    </header>
    <main>
        <style>
            .badge::after {
                content: "" !important;
            }

            .string {
                background: #5B4564 !important;
            }

            .bool {
                background: #45644F !important;
            }

            .int {
                background: #456460 !important;
            }
        </style>
        <div class="section">
            <div class='row'>
                <div class='col s12 m10 l8 offset-l2 offset-m1'>
                    <p>blargbot has several configuration keys that you can use to customize your experience. You set these
                        with the following command:</p>
                    <pre><code>b!settings set &lt;key&gt; &lt;value&gt;</code></pre>
                    <p>All settings keys are case insensitive.</p>
                    <p>Additionally, variables can be of three different types.</p>
                    <h3>Variable Types</h3>
                    <p>Variables can be <code>strings</code>, <code>ints</code>, and <code>bools</code>.</p>
                    <h4>strings</h4>
                    <p>A string is just a set of letters.</p>
                    <h4>ints</h4>
                    <p>An int is simply an integer: a number without a decimal.</p>
                    <h4>bools</h4>
                    <p>A bool is just "true" or "false". You can also use 1 for true, and 0 for false.</p>
                    <h3>Keys</h3>
                    <ul class="collection z-depth-3">
                        {{#each botsettings}}
                        <li class="collection-item {{this.type}}">
                            <h4>{{this.name}}
                                <span class="new badge">{{this.type}}</span>
                            </h4>
                            <p>Key: {{this.key}}</p>
                            <p>{{this.desc}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>


        </div>


        <!-- Menu Toggle Script -->
        <script>
            init();
        </script>
    </main>
    <footer class="page-footer blue-grey darken-2">
        <div class="section">
            <div class="rows">
                <div class="col s12 m10 offset-m1 l6 offset-l3">
                    <p class="centre">
                        &copy; 2016-2018 - Ratismal (stupid cat)
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>