<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Latest compiled and minified CSS -->
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="../css/main.css">

    <!-- Font Awesome -->
    <script src="//use.fontawesome.com/811ca3dd9f.js"></script>

    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Misc Scripts -->
    <script src="../js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>

    <!-- Fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- OpenGraph -->
    <title>Logs</title>
    <link rel="icon" type="image/png" href="/img/blargbotmini.png">

</head>
<script>

</script>

<body class="blue-grey">
    {{> sidebar}}
    <a class="btn-floating btn-primary button-collapse btn-large waves-effects waves-light" data-activates="slide-out">
        <i class="large material-icons">menu</i></a>
    <header class="page-header">
        {{#if continue}}
        <h1 class="centre">Logs from {{guildname}}</h1>
        {{else}}
        <h1 class="centre">Invalid keycode '{{hash}}'</h1>
        {{/if}}
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card blue-grey darken-2">
                    <div class="card-content">
                        {{#if beta}}
                        <p class='centre'>BETA LOGS</p>
                        {{/if}} {{#if continue}}
                        <p>Channel: {{channelname}} ({{channel}})</p>
                        <p>User(s): {{users}}</p>
                        <p>Type(s): {{types}}</p>
                        <p>Count: {{limit}}</p>
                        <p>Click on a mention to copy the user's ID.</p>
                        {{else}}
                        <p>No results found.</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>

    <style>
        .collection {
            border: 0;
        }

        .collection-item {
            /*border-bottom: 1px solid #394a52 !important;*/
            border-bottom: 0px !important;
        }

        .edit {
            background-color: #593864 !important;
            /*border-bottom: 1px solid #37213e !important;*/
        }

        .delete {
            background-color: #7e3f3f !important;
            /*	border-bottom: 1px solid #4b2525 !important;*/
            /* background-color: #753838 !important; */
        }

        .bot {
            border-radius: 4px;
            height: 18px;
            line-height: 18px;
            padding: 0 7px 0 6px;
            background-color: #738bd7;
        }

        .chip {
            height: 24px;
            line-height: 24px;
        }

        .mention {
            background: rgba(115, 139, 215, .1);
            color: #7289da;
            transition-duration: 0.2s;
        }

        .mention:hover {
            background: rgba(115, 139, 215, .7);
            color: #fff;
            transition-duration: 0.2s;
        }

        .material-tooltip {
            width: 200px;
            height: 40px;
            text-align: center;
        }

        .mentionclicked {
            text-align: center;
            font-size: 0;
        }

        .mentionclicked::before {
            content: 'Copied!';
            font-size: 1rem;
        }

        .discord-embed-description {
            white-space: pre-line;
        }

        .discord-embed-author,
        .discord-embed-footer {
            display: block;
            height: 32px;
            margin: 5px 0;
        }

        .discord-embed-author-icon {
            height: 32px;
            width: 32px;
            display: inline;
            border-radius: 100px;
        }

        .discord-embed-author a.discord-embed-title {
            color: #eee;
        }

        .discord-embed-author a.discord-embed-title:hover {
            color: #fff;
        }

        .discord-embed-title {
            font-weight: bold;
        }

        .discord-embed-fields {
            padding: 0;
            margin: 0;
        }

        .discord-embed-fields .col {
            margin-left: 0;
            padding-left: 0;
        }

        .discord-embed-author .discord-embed-title {
            margin-left: 5px !important;
            display: inline;
        }

        .discord-embed-footer-entry {
            display: inline;
        }

        .discord-embed-footer-separator {
            content: '|';
            padding: 0 5px;
        }

        .discord-embed-footer-icon {
            border-radius: 3px;
            margin-right: 5px;
            height: 32px;
            width: 32px;
            display: inline;
        }

        .discord-embed-thumbnail {
            max-width: 128px;
            max-height: 128px;
            float: right;
        }

        .discord-embed-image {
            max-width: 33%;
            margin: 5px 0;
        }

        .block {
            display: block;
            height: 32px;
        }
    </style>

    <main>
        <div class="section">
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <div class="card z-depth-2 blue-grey darken-2">
                        <ul class="collection">
                            {{#each messages}}
                            <li class='collection-item avatar log {{this.type.color}}'>
                                <img src='{{this.avatar}}' alt='' class='circle backavatar z-depth-1'>
                                <span class='title'
                                    style='padding-right: 5px'>{{this.username}}#{{this.userdiscrim}}</span>
                                <span class='badge white-text text-lighten-1 time'>{{this.msgtime}}</span> {{#if
                                this.bot}}
                                <div class='chip bot white-text z-depth-1'>BOT</div>
                                {{/if}}
                                <br>
                                <div class='chip z-depth-1'>ACTION: {{this.type.name}}</div>
                                <div class='chip z-depth-1'>ID: {{this.userid}}</div>
                                <div class='chip z-depth-1'>MSG ID: {{this.msgid}}</div>
                                <p>{{this.content}}</p> {{#if this.attachment}}
                                <a href='{{this.attachment}}'>Attachment</a> {{/if}} {{#each this.embeds}}
                                <div class='discord-embed'>
                                    <blockquote {{#if this.color}}style='border-left: 5px solid #{{this.color}}'
                                        {{/if}}>
                                        {{#if this.thumbnail}}
                                        <img src='{{this.thumbnail.url}}' class='discord-embed-thumbnail'> {{/if}} {{#if
                                        this.author}}
                                        <div class='discord-embed-author'>
                                            <div class='valign-wrapper'>
                                                {{#if this.author.icon_url}}
                                                <img src='{{this.author.icon_url}}'
                                                    class='discord-embed-author-icon' />{{/if}}
                                                {{#if this.author.url}}
                                                <a class='discord-embed-title' href='{{this.author.url}}'>
                                                    {{this.author.name}}
                                                </a> {{else}}
                                                <p class='discord-embed-title'> {{this.author.name}} </p>
                                                {{/if}}
                                            </div>
                                        </div>
                                        {{/if}} {{#if this.url}}
                                        <a class='discord-embed-title' href='{{this.url}}'>{{this.title}}</a> {{else}}
                                        <p class='discord-embed-title'>{{this.title}}</p>
                                        {{/if}}
                                        <p class='discord-embed-description'>{{this.description}}</p>
                                        <div class='row discord-embed-fields'>
                                            {{#each this.fields}}
                                            <div class='col s12 {{#if this.inline}}m4{{/if}}'>
                                                <p class='discord-embed-title'>{{this.name}}</p>
                                                <p class='discord-embed-description'>{{this.value}}</p>
                                            </div>
                                            {{/each}}
                                        </div>

                                        {{#if this.image}}
                                        <img src='{{this.image.url}}' class='discord-embed-image'> {{/if}}

                                        <div class='discord-embed-footer'>
                                            <div class='valign-wrapper'>
                                                {{#if this.footer}} {{#if this.footer.icon_url}}
                                                <img src='{{this.footer.icon_url}}' class='discord-embed-footer-icon' />
                                                {{/if}}
                                                <p class='discord-embed-footer-entry'>{{this.footer.text}}</p>
                                                {{/if}} {{#if this.separateFooter}}
                                                <p class='discord-embed-footer-separator'>|</p>
                                                {{/if}} {{#if this.timestamp}}
                                                <p class='discord-embed-footer-entry time nounix'>{{this.timestamp}}</p>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                {{/each}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer blue-grey darken-2">
        <div class="section">
            <div class="rows">
                <div class="col s12 m10 offset-m1 l6 offset-l3">
                    <p class="centre">
                        &copy; 2016-2018 - Ratismal (stupid cat)
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        function unmakeSnowflake(snowflake) {
            return (snowflake / 4194304) + 1420070400000;
        };
        function doStuff() {
            var first = true;
            var elements = document.getElementsByClassName('time');
            for (var i = 0; i < elements.length; i++) {
                var timestamp = elements.item(i).innerHTML;
                var newTimestamp;
                if (!Array.from(elements.item(i).classList).includes('nounix'))
                    newTimestamp = moment.unix(timestamp);
                else newTimestamp = moment(timestamp);
                elements.item(i).innerHTML = newTimestamp.format('YYYY/MM/DD h:mm:ss A');
            }
            console.log('hi');
        }
        doStuff();
        var clipboard = new Clipboard('.clipboard');
        var timer;
        clipboard.on('success', function (e) {
            var id = e.trigger.attributes['data-user-id'].value;
            console.log(id);

            var elements = document.getElementsByClassName('mentiontooltip');
            for (var i = 0; i < elements.length; i++) {
                elements[i].className = elements[i].className.replace('mentionclicked', '').trim();
            }

            elements = document.getElementsByClassName(id);
            for (i = 0; i < elements.length; i++) {
                elements[i].className = elements[i].className + ' mentionclicked';
            }
            if (timer)
                clearTimeout(timer);
            timer = setTimeout(function () {
                for (i = 0; i < elements.length; i++) {
                    elements[i].className = elements[i].className.replace('mentionclicked', '').trim();
                }
            }, 1500)

            //Materialize.toast('Copied \'' + e.trigger.attributes['data-user-id'].value + '\' to clipboard!', 4000) // 4000 is the duration of the toast
            e.clearSelection();
        });
    </script>

</body>

</html>