<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Latest compiled and minified CSS -->
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="../css/main.css">

    <!-- Font Awesome -->
    <script src="//use.fontawesome.com/811ca3dd9f.js"></script>

    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Misc Scripts -->
    <script src="../js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    <!-- Fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- OpenGraph -->
    <title>User Profile</title>

    <link rel="icon" type="image/png" href="/img/blargbotmini.png">

    <meta name="author" content="stupid cat">

    <meta content="User Lookup" property="og:description">

    <meta content="Dashboard" property="og:title">
    <meta content="blargbot" property="og:site_name">
    <meta content='http://blargbot.xyz/img/blargbot.png' property='og:image'>
    <meta content='https://blargbot.xyz/img/blargbot.png' property='og:image:secure_url'>
    <meta content='image/png' property='og:image:type'>
    <meta content='512' property='og:image:width'>
    <meta content='512' property='og:image:height'>

</head>

<style>
    .bot {
        border-radius: 4px;
        height: 18px;
        line-height: 18px;
        padding: 0 7px 0 6px;
        background-color: #738bd7;
    }
</style>

<body class="blue-grey">
    {{> sidebar}}

    <a class="btn-floating btn-primary button-collapse btn-large waves-effects waves-light" data-activates="slide-out">
        <i class="large material-icons">menu</i>
    </a>

    <header class="page-header">
        <h1 class="centre">User</h1>
    </header>
    <main>
        <div class="section">
            <div class="row">
                <div class="col s12 m6 offset-m3 ">
                    <ul class='collection blue-grey darken-3' style='border: 0'>
                        <li class='collection-item avatar blue-grey darken-3'>
                            <img src="{{gotUser.avatarURL}}" class='circle'>
                            <span class='title'>{{username}}</span> {{#if gotUser.bot}}
                            <div class='chip bot white-text z-depth-1'>BOT</div>
                            {{/if}}
                            <span class='badge white-text text-lighten-1 time'>{{gotUser.createdAt}}</span>
                            <br>
                            <br>
                            <p>ID: {{gotUser.id}}</p>
                            <br>
                            <p>Nicknames:</p>
                            <ul class='collection blue-grey darken-3' style='border: 0'>
                                {{nicks}}
                            </ul>
                            <p>Shared Guilds: {{shared}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </main>
    <!-- Menu Toggle Script -->
    <script>
        function doStuff() {
            var first = true;
            var elements = document.getElementsByClassName('time');
            for 0        i < elemeth; i++) {
                var timestamp = elements.item(i).innerHTML;
                var newTimestamp = moment(parseInt(timestamp));
                elements.item(i).innerHTML = 'Created ' + newTimestamp.format('lll');
            }
        }
        doStuff();

    </script>
    <footer class="page-footer blue-grey darken-2">
        <div class="section">
            <div class="rows">
                <div class="col s12 m10 offset-m1 l6 offset-l3">
                    <p class="centre">
                        &copy; 2016-2018 - Ratismal (stupid cat)
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>