<form class='col s12 blue-grey darken-2'>
    {{#each gsettings}}
    <div class='row'>
        <div class='input-field col s12'>
            {{#ifCond type '==' 'string'}}
            <input id='{{key}}' type='text'>
            <label for='{{key}}'>{{name}}</label>
            {{/ifCond}}
            {{#ifCond type '==' 'bool'}}
            {{name}}
                <div class="switch">
    <label>
      Off
      <input type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>
            {{/ifCond}}
            {{#ifCond type '==' 'int'}}

            {{/ifCond}}
        </div>
        {{desc}}
    </div>
    {{/each}}
</form>