<ul id="slide-out" class="side-nav fixed blue-grey darken-1 z-depth-1">
	<li>
		{{#if user}}
		<ul class='collection blue-grey darken-3 z-depth-2' style='border: 0'>
			<li class='collection-item avatar blue-grey darken-2'>
				{{#if user.avatar}}
				<img src='https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.jpg' class='circle'>
				{{else}}
				<img src='/img/default.png' class='circle'>
				{{/if}}
				<span class='title'>{{user.username}}#{{user.discriminator}}</span>

				<a href='/logout' class='btn btn-primary waves-effect waves-light z-depth-2 white-text userbutton'>log out</a>
			</li>
		</ul>
		{{else}}
		<ul class='collection blue-grey darken-3 z-depth-2' style='border: 0'>
			<li class='collection-item avatar blue-grey darken-2'>
				<img src='/img/default.png' class='circle'>
				<span class='title'>Guest</span>

				<a href='/login' class='btn btn-primary waves-effect waves-light z-depth-2 white-text userbutton'>log in</a>
			</li>
		</ul>
		{{/if}}
	</li>
	<li>
		<a href="/" class='grey-text text-lighten-5 main-brand waves-effect waves-light'>
                    blargbot
                </a>
	</li>
	<li>
		<a href="/dashboard" class='grey-text text-lighten-5 waves-effect waves-light'>Dashboard</a>
	</li>
	<li class='no-padding'>
		<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
			<li>
				<a class='collapsible-header grey-text text-lighten-5 waves-effect waves-light'>Commands<i class="material-icons right grey-text text-lighten-5" aria-hidden="true">keyboard_arrow_down</i></a>
				<div class='collapsible-body subbody'>
					<ul>
						<li class='sub-header blue-grey darken-2'><a href='/commands' class='grey-text text-lighten-5 waves-effect waves-light'>Command List</a></li>
						{{#listcommands}} {{/listcommands}}
					</ul>
				</div>
			</li>
		</ul>
	</li>
	<li class='no-padding'>
		<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
			<li>
				<a class='collapsible-header grey-text text-lighten-5 waves-effect waves-light'>Tags<i class="material-icons right grey-text text-lighten-5" aria-hidden="true">keyboard_arrow_down</i></a>
				<div class='collapsible-body subbody'>
					<ul>
						<li class='sub-header blue-grey darken-2'><a href='/tags' class='grey-text text-lighten-5 waves-effect waves-light'>Tag List</a></li>
						{{#listtags}} {{/listtags}}
					</ul>
				</div>
			</li>
		</ul>
	</li>
	<li>
		<a href="/tags/editor" class='grey-text text-lighten-5 waves-effect waves-light'>Tag IDE</a>
	</li>
</ul>
